* {
    user-select: none;
}

body {
    background-image: url(/bgUnifan.png);
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: auto;
    max-height: 50vh;
    height: 50vh;
}

@media (max-width: 1180px) {
    body {
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.card {
    color: #190B07;
    padding: 2px 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.94;
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300;

}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

input {
    text-transform: uppercase;
    font-weight: bold;

}

textarea {
    text-transform: uppercase;
    font-weight: bold;
}

option {
    font-weight: bold;

}

select {
    font-weight: bold;


}

.button {
    background-color: #190B07;
}

.scrollhide-nav {
    right: 0;
    top: 0;
    left: 0;
    transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.scrollhide-nav.hidden {

    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

footer {
    width: 100%;
    line-height: 2vh;
    position: fixed;
    bottom: 0;
    opacity: .8;
    background-color: #303030;
}